*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: rgb(0, 120, 54);
  --light-theme-shadow: 0 5px 10px rgba(0, 100, 27, 0.2);
}

html {
  font-size: 20px;
}

body {
  color: var(--theme-color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: transparent;
  width: fit-content;
  margin: 1rem 0;
  padding: 0.7em 2em;
  border: 2px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms linear;
}

button:hover {
  background-color: #fff;
  color: var(--theme-color);
}

header {
  height: 15vh;
}

header img {
  max-height: 100%;
  display: block;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 2rem;
  padding: 1rem 0 1.5rem;
  border-bottom: 0.2rem solid var(--theme-color);
}

nav a {
  padding: 0.7em;
  border-radius: 0.5em;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  font-weight: 700;
  box-shadow: var(--light-theme-shadow);
  cursor: pointer;
  transition: all 200ms linear;
}

nav a:hover {
  background-color: var(--theme-color);
  color: #fff;
}

main {
  padding: 8rem 10rem;
  display: grid;
  grid-template-areas:
    'banner banner banner'
    'offers1 offers2 offers3';
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

main .banner {
  background-color: var(--theme-color);
  grid-area: banner;
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
}

main .banner img {
  max-height: 50vh;
  width: auto;
}

.banner-text {
  flex: 1;
  padding: 0.5em;
  color: #fff;
  font-size: 2.7vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.banner-text h2 {
  margin: 0.5em 0;
}

.banner-text p {
  font-size: 0.5em;
}

article.card:nth-child(1) {
  background-color: aqua;
  grid-area: offers1;
}
article.card:nth-child(2) {
  grid-area: offers2;
}
article.card:nth-child(3) {
  grid-area: offers3;
}

article.card {
  width: 100%;
  height: 60vh;
  border: 0.25rem solid var(--theme-color);
  border-radius: 1rem;
  transition: all 150ms linear;
}

article.card:hover {
  transform: scale(1.02) translateY(-0.25rem);
  box-shadow: 0 10px 30px rgba(0, 95, 25, 0.313);
}

article.card img {
  display: block;
  height: 50%;
  margin: auto;
  object-position: center;
}

article.card h4,
article.card p {
  margin: 1em;
  text-align: center;
}

article.card h4 {
  padding: 0.2em;
  font-size: 1.5em;
  transition: all 150ms linear;
  border-radius: 0.2em;
}

article.card:hover h4 {
  background-color: var(--theme-color);
  color: white;
}

article.card p {
  font-size: 1em;
}
